<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <!-- 配置创建spring容器要扫描的包-->
    <component-scan base-package="com.learn.demo"></component-scan>
    <!-- 配置视图解析器-->
<!--    <bean id="internalResourceViewResolver"-->
<!--          class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
<!--        <property name="prefix" value="/WEB-INF/pages/"></property>-->
<!--        <property name="suffix" value=".jsp"></property>-->
<!--    </bean>-->
    <!--开启springmvc框架注解的支持 -->
<!--    <annotation-friven/>-->
</beans>
